.message-page-container {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.message-container {
    margin-bottom: 20px;
    overflow-y: scroll;
    max-height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-direction: column-reverse;
    height: 70%;
}


.message {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center;
}

.message-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.right{
    float: right;
}







.not-my-message-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.message {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px 15px;
}

.sender-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-text {
    color: black;
}






.my-message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.my-message {
    background-color: #007bff;
    border-radius: 20px;
    padding: 10px 15px;
}

.my-message-text {
    color: white;
}


.black {
    color: white;
}


.timestamp{
    font-size: 11px;
    text-align: end;
}





/* ChatPage.css */

.chat-container {
    width: 100%;
    /* max-width: 700px; */
    margin: 0 0 0 10px;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dialogs-list {
    display: flex;
    flex-direction: column;
}

.dialog-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}

.dialog-item:hover {
    cursor: pointer;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.dialog-info {
    flex-grow: 1;
}

.dialog-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.last-message {
    margin: 0;
    font-size: 14px;
    color: #888;
}


.no-messages {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #999; 
    margin-top: 20px; 
    height: 76%;
    width: 100%;
  }
  
